<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body>
	<div class="login">
		<h1>Iniciar Sesion</h1>
		<div class="links">
			<a href="{{ url_for('login') }}" class="active">Iniciar Sesion</a>
			<!-- 	<a href="#">Register</a>  -->
		</div>

		<form action="{{ url_for('login') }}" method="post">
			<input type="hidden" name="csrf_token" value="{{csrf_token()}}">
			<label for="username">
				<i class="fas fa-user"></i>
			</label>

			<input type="text" name="username" placeholder="Usuario" id="username" required>
			<div class="div-f">
				<div style="display: flex;">
					<label for="password">
						<i class="fas fa-lock"></i>
					</label>
					<input type="password" name="password" placeholder="Contraseña" id="password" required>
				</div>

				<div class="msg">
					{% with messages = get_flashed_messages() %}
					{% if messages %}

					<div class="alert">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>


						{%for message in messages %}

						{{ message }}

						{% endfor %}


					</div>


					{% endif %}
					{% endwith %}

				</div>
			</div>
			<input type="submit" value="Enviar">
		</form>

	</div>
</body>

</html>