{% extends "layout.html" %}
{% block title %}
Recaudaciones
{% endblock %}

{% block content %}

<div class="paginate">
    <h2>Tabla de Cierre de Cajas</h2>




    <div style="display: grid; grid-template-columns:repeat(7,1fr);     align-items: center;" id="tabla">
        <p class="titles">ID</p>
        <p class="titles">USUARIO</p>
        <p class="titles">RETIROS</p>
        <p class="titles">TOTAL RECAUDADO</p>
        <p class="titles">FECHA Y HORA DE ABERTURA</p>
        <p class="titles">FECHA Y HORA DE CIERRE</p>
        <p class="titles">TOTAL EN CAJA AL CIERRE</p>

    </div>
    <div class="items">
        {%for row in caja_c %}

        <div class="tablaCajas">
            <p>{{row[0]}}</p>
            <p>{{row[1]}}</p>
            <p>{{row[2]}}</p>
            <p>{{row[3]}}</p>
            <p>{{row[4]}}</p>
            <p>{{row[5]}}</p>
            <p>{{row[6]}}</p>
        </div>
        {%endfor %}
    </div>
    <div class="pager">
        <a style="cursor: pointer;">
            <div class="firstPage">&laquo;</div>
            <div class="previousPage">&lsaquo;</div>
            <div class="pageNumbers"></div>
            <div class="nextPage">&rsaquo;</div>
            <div class="lastPage">&raquo;</div>
        </a>
    </div>
</div>
<!-- 
<h3>Recaudacion total de las cajas del dia : {{r_dia[0][0]}} $</h3>
<h3>Recaudacion total de las cajas del mes : {{r_mes[0][0]}} $</h3>
<h3>Recaudacion total de las cajas del año : {{r_anio[0][0]}} $</h3>
 -->

<h2 style="text-align: center;">Recaudaciones</h2>

<div class="tabla-s">

    <p id="r_diaria">RECAUDACION TOTAL DIA:</p>
    <p id="r_mensual">RECAUDACION TOTAL MES:</p>
    <p id="r_anual">RECAUDACION TOTAL AÑO:</p>
    <p> {{r_dia[0][0]}} $</p>


    <p>{{r_mes[0][0]}} $</p>


    <p>{{r_anio[0][0]}} $</p>




</div>
<!--  
<div class="Tabla_info">

    <p>Cantidad de ingresantes acampantes</p>
    <p>Cantidad de </p>

</div>
-->
<form action="{{url_for('recaudaciones')}}" method="POST" class="date_f">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <div style="display: flex; gap:10px; align-items: center;">
        <h3>Ingrese una fecha:</h3>
        <input type="date" id="start" name="fechas" value="2022-01-01" min="2022-01-01" style="font-size: 16px;">
        <input type="submit" value="ENVIAR" onclick="obtenerFecha()">
    </div>


</form>
<div class="table__wrap">
    <table class="table">
        <thead class="table__header">
            <tr class="table__row">
                <th class="table__cell u-text-left">Fecha</th>
                <th class="table__cell u-text-left">Total recaudado en el día</th>
                <th class="table__cell u-text-right">Cantidad de ingresantes acampantes</th>
                <th class="table__cell u-text-right">Cantidad de ingresantes no acampantes</th>
                <th class="table__cell u-text-right">Cantidad de egresantes</th>
                <th class="table__cell u-text-right">Cajas abiertas</th>
                <th class="table__cell u-text-right">Cajas cerradas</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            <tr class="table__row">
                <td class="table__account table__cell">
                    <span class="table__account-name">Fecha</span>
                    {{fecha}}

                </td>
                <td class="table__account table__cell">
                    <span class="table__account-name">Total recaudado en el día</span>
                    {% for i in r %}
                    {{i[0]}} $
                    {%endfor%}



                </td>
                <td class="table__balance table__cell u-text-right u-font-mono">
                    <span class="table__account-name">Cantidad de ingresantes acampantes</span>
                    {% for i in c_pa %}
                    {{i[0]}}
                    {% endfor%}

                </td>
                <td class="table__limit table__cell u-text-right u-font-mono">
                    <span class="table__account-name">Cantidad de ingresantes no acampantes</span>
                    {% for i in c_p %}
                    {{i[0]}}
                    {% endfor%}

                </td>
                <td class="table__available table__cell u-text-right u-font-mono">
                    <span class="table__account-name">Cantidad de egresantes</span>
                    {% for i in c_egresantes %}
                    {{i[0]}}
                    {% endfor%}

                </td>
                <td class="table__limit table__cell u-text-right u-font-mono">
                    <span class="table__account-name">Cajas abiertas</span>
                    {% for i in cajaa %}
                    {{i[0]}}
                    {% endfor%}

                </td>
                <td class="table__available table__cell u-text-right u-font-mono">
                    <span class="table__account-name">Cajas cerradas</span>
                    {% for i in cajac %}
                    {{i[0]}}
                    {% endfor%}



                </td>


            </tr>
            



        </tbody>
        <!-- 
        <tfoot>

            <tr class="table__row table__row--last">
                <td class="table__cell" align="right">Total (<acronym title="US Dollars">USD</acronym>):</td>
                <td class="table__balance table__cell u-text-right u-font-mono">900.000</td>
                <td class="table__limit table__cell u-text-right u-font-mono">500.000</td>
                <td class="table__available table__available--total table__cell u-text-right u-font-mono">1.400.000</td>
                <td></td>
            </tr>

        </tfoot>
         -->
    </table>
</div>


<script>


    function populateFields() {


        const querystring = window.location.search
        const params = new URLSearchParams(querystring)

        return params.get('r');

    }

    $(document).ready(function () {
        if (populateFields() == "diaria") {

            const element = document.getElementById("r_diaria");

            element.scrollIntoView();
            (document.getElementById("r_diaria")).style.border = "solid #0c352d 3px";
        }
        if (populateFields() == "mensual") {

            const element = document.getElementById("r_mensual");

            element.scrollIntoView();
            (document.getElementById("r_mensual")).style.border = "solid #0c352d 3px";

        }
        if (populateFields() == "anual") {

            const element = document.getElementById("r_anual");

            element.scrollIntoView();
            (document.getElementById("r_anual")).style.border = "solid #0c352d 3px";

        }




    });


    $(window).load(function () {
        getDate();
    });
    function getDate() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("start").value = today;
        document.getElementById("start").setAttribute("max", today);

    }

</script>
{% endblock %}