{% extends "layout.html" %}
{% block title %}
Registro SIGA
{% endblock %}

{% block content %}



<div class="background">
    <div class="container-4">
      <div class="panel pricing-table">
        
        <div class="pricing-plan">
          <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
          <h2 class="pricing-header">Acampantes</h2>
          <ul class="pricing-features">
            <li class="pricing-features-item">PRECIO ACTUAL Alumnos</li>
            <li class="pricing-features-item">PRECIO ACTUAL Personal Universitario</li>
            <li class="pricing-features-item">PRECIO ACTUAL Particulares</li>

          </ul>
          <a href="#/" class="pricing-button">ACTUALIZAR</a>
        </div>
        
        <div class="pricing-plan">
          <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img">
          <h2 class="pricing-header">No acampantes</h2>
          <ul class="pricing-features">
            <li class="pricing-features-item">PRECIO ACTUAL Alumnos</li>
            <li class="pricing-features-item">PRECIO ACTUAL Personal Universitario</li>
            <li class="pricing-features-item">PRECIO ACTUAL Particulares</li>
          </ul>

          <a href="#/" class="pricing-button is-featured">ACTUALIZAR</a>
        </div>
        
        <div class="pricing-plan">
          <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
          <h2 class="pricing-header">Cabañas</h2>
          <ul class="pricing-features">
            <li class="pricing-features-item">Aportantes $4000</li>
            <li class="pricing-features-item">No Aportantes $9000</li>
          </ul>
          <a href="#/" class="pricing-button">ACTUALIZAR</a>
        </div>
        
      </div>
    </div>
  </div>



{% endblock %}